header{
    display: flex;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    background-image: url("/img/cloud-small-2.png");
    background-size: cover;
}

.header-box {
    max-width: 50%;   
    margin-top: 10%; 
    padding: 2rem;
}

.header-box p{
    padding: 2rem;
}