@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,bolditalic,black|Muli');
@import './init.less';
@import './variables.less';
@import './mixins.less';
@import './nav.less';
@import './header.less';
@import './Components/Filter/filter';
@import './Components/Team/team';


/*General styling*/
.main-container {
  width: 100%;
  margin: 0 auto;
  background: @tertiary-color;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content {
  background-color: #ffffe0;
  width: 80%;
  margin: 0 auto;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  max-width: 1200px;
  
  @media screen and (max-width: 480px) {
    width: 99%;
    padding: .5rem;
  }
}

.line {
  height: 1px;
}

button {
  background-color: @primary-color;
  padding: 1rem 3rem;
  border-radius: .5rem;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Montserrat', 'Muli', sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 3rem;
  align-items: center;
  @media screen and (max-width: 480px) {
    h2 {
      padding-left: 3rem;
      padding-bottom: 1rem;
      text-align: left;
      font-size: 2rem;
    }
  }      
  
  .description, .illustration {
    width: 40%;
    span {
      padding-right: .5rem;
      color: @primary-color;
    }
    p {
      padding-bottom: 2.2rem;
    }
    .step p {
      @media screen and (max-width: 480px) {
          text-align: left;
          display: none;  
      }      
    }
  }

 .illustration img {
    margin: 0 auto;
    width: 70%;
    height: auto;
    min-height: 350px;
    min-width: 250px;
    display: none;
    } 

  img.show {
    display: block;
  }

  /* On screens that are 600px or less change the box width */
  @media screen and (max-width: 900px) {
    flex-direction: column;
    text-align: center;
    padding-left: 0rem;
    
    .description, .illustration {
      width: 100%;
      img {
        max-width: 40%;
        }       
    }    
  }
}

.overflow {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
  overflow-x: auto;
  padding: 1rem;

  .testimonial-container {
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    width: 100%;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }  
      

    &.testimonial-container:not(:last-of-type) {
      margin-right: 12px;
    }
  }
  
  &::after {
    content: '';
    flex: 0 0 12px; 
  }
}

.row.hide {
  display: none;
}

.box{
  flex-direction: column;
  background-color: lightgoldenrodyellow;
  border-radius: 1rem;
  margin: .5rem;
  width: 30%;
  min-height: 300px;
  .description {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }   
  .icon {
    text-align: center;
    padding-top: 2rem;
    img {
      width: 50%;
      min-height: 150px;
      height: auto;
      } 
  }
  @media screen and (max-width: 900px) {
      width: 95%;
  }  
}

.row.first, .row.inter{
  padding-bottom: 3rem;
}

.row.inter{
  padding-top: 3rem;
}

section {
  padding-bottom: 3rem;
  h1 {
    color: @primary-color;
  }
}

section.how {
  background-color: lightgoldenrodyellow;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

section.features {
  background-color:@secondary-color;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;  
}

section.testimonials {
  background-color: @primary-color;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;   
  h1 {
    color: lightgoldenrodyellow;
  }
}

.testimonial-photo {
  display: flex;
  align-items: center;
  padding-left: 1rem; 
  background-size: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  min-width: 60%;
  min-height: 300px;
  @media screen and (max-width: 900px) {
    background-image: url("/img/testimonials/lucy-small.png"); 
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0rem;
    width: 100%;
    margin-bottom: 1px;
    }    
}

.testimonial-photo.lucy {
  background-image: url("/img/testimonials/lucy-large.png");
  @media screen and (max-width: 900px) {
    background-image: url("/img/testimonials/lucy-small.png"); 
  }
}

.testimonial-photo.marc {
  background-image: url("/img/testimonials/marc-large.png");
  @media screen and (max-width: 900px) {
    background-image: url("/img/testimonials/marc-small.png"); 
  }
}

.testimonial-photo.luc {
  background-image: url("/img/testimonials/luc-large.png");
  @media screen and (max-width: 900px) {
    background-image: url("/img/testimonials/luc-small.png"); 
  }
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 3rem;
  max-width: 90%;
  min-height: 300px;   
  @media screen and (max-width: 900px) {
    max-width: 100%;
    }     
}

.testimonial-desc {
  display: flex;
  align-items: center;
  background-color: white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem; 
  @media screen and (max-width: 900px) {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    }       
}

.left-arrow img {
  width:25px;
  height:25px;  
}

section.faqs {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  width: 100%;

  p {
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    border: 2px solid @tertiary-color;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 100%;
  }
  h3 {
    
    background-color: @tertiary-color;
    padding: 1rem;
    width: 100%;
  }
}