nav, .top-nav {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;

.top-nav {
    padding: 1rem;
}

nav{
	align-items: center;
    width: 60%;
    max-width: 300px;
}

nav a {
	color: #212529;
    text-decoration: none;
    font-size: 1.2rem;
}